{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<link rel="stylesheet" media="screen" type="text/css" href="css/colorpicker.css" />
<script type="text/javascript" src="js/colorpicker.js"></script>

	<!-- Load the Paper.js library -->
	<script type="text/javascript" src="js/paper.js"></script>
	<!-- Define inlined JavaScript -->
	<script type="text/javascript"></script>

	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}

		#myTools {
				height:250px;
				width:100px;
		    margin-bottom: 150px;
		    display: block;
				background-color: yellow;
		}


/*#color-picker {
  border: 3px solid rgba(15, 15, 15, 0.2);
} */
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};


			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color pallette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
			}

			function myCustomDraw() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
						var hit = pencil.item.hitTest(event.point, { tolerance: 10, fill: true });
						if (hit) {
								// Color pallette keeps track of the full history of colors, though we
								// only color in with the most-recent color.
									var path = new Path();
									path.strokeColor = 'black';
									var start = new Point(100, 100);
									path.moveTo(start)
						}
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}


			// Set up the mandala interactivity.
			init(true);
/*			 */
							}

	</script>
</head>
<body>

	<canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div style = "position:absolute; left: 1350px; top:50px;">
		<div id="MyTools"></div>
		<input type="image" src="{% static 'coloring/images/house.png' %}" name="house" class="btTxt submit" id="house" width="50" height="50"/>
				<input type="image" src="{% static 'coloring/images/colorfill.png' %}" name="colorfill" class="btTxt submit" id="colorfill" width="60" height="50"/>
						<input type= "image" src="{% static 'coloring/images/pencil.png' %}" id="pencil" type="button"  value="clickme" onmousedrag="penciler();" width="50" height="50"/>
						<script>
		function penciler () {

function onMouseDrag(event) {
  // Do something else
  console.log('Mouse dragged!');
}

var myPath;

function onMouseDown(event) {
	myPath = new Path();
	myPath.strokeColor = 'black';
}

function onMouseDrag(event) {
	myPath.add(event.point);
}

function onMouseUp(event) {
	var myCircle = new Path.Circle({
		center: event.point,
		radius: 10
	});
	myCircle.strokeColor = 'black';
	myCircle.fillColor = 'white';
}
}

						</script>
								<input type="image" src="{% static 'coloring/images/paintbrush.png' %}" name="paintbrush" class="btTxt submit" id="paintbrush" width="50" height="50"/>
										<input type="image" src="{% static 'coloring/images/paintholder.png' %}" name="paintholder" class="btTxt submit" id="paintholder" onclick=  "$('#paintholder').ColorPicker({flat: true});" width="50" height="50"/>

										<div style="text-align : right; top:300px;">
											<input type="text" id="hex">
											<input type="color" id="color">
</div>

								<script src="script.js"></script>


	</div>
	<div id="color-palette"></div>
<canvas id="myCanvas" resize></canvas>

</body>

</html>
